# ======================================================
# 🌍 GENERAL
# ======================================================
node_modules
.env
*.env
.env.*
*.local
dist
build
out
coverage
.tmp
.cache
*.log
logs
*.pid
*.seed
*.sqlite
*.swp

# ======================================================
# 💻 FRONTEND BUILDS (React / Next / Vite)
# ======================================================
.next
out
.vite
.svelte-kit
*.tsbuildinfo

# ======================================================
# 🛠 TYPESCRIPT
# ======================================================
*.tsbuildinfo
tsconfig.tsbuildinfo

# ======================================================
# 🚀 BACKEND (Node / Express / Nest)
# ======================================================
/build
/tmp
/temp
uploads
storage

# Prisma
prisma/*.db
prisma/*.db-journal

# ======================================================
# 🧪 TESTING
# ======================================================
coverage
*.lcov

# ======================================================
# 🐳 DOCKER
# ======================================================
docker-data/
*.tar

# ======================================================
# ⚙️ EDITORS
# ======================================================
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

.idea

# ======================================================
# 🖥 OS SYSTEM FILES
# ======================================================
.DS_Store
Thumbs.db
